/***** LIST PAGE *****/
.listBack {
  background-color: white;
}
.justify-content-center {
  justify-content: center !important;
}
.row {
  display: flex;
  margin-right: -12px;
  margin-left: -12px;
}
.form-control {
  height: 60px;
}
.input-group .form-control:first-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group input {
  width: 75%;
}
.input-group .form-control {
  width: 75%;
  margin-right: 5px;
  margin-left: 10%;
  margin-top: 5%;
}
.btn-default {
  height: 60px;
  margin-top: 5%;
  border-color: #000;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: #000;
  color: #fff;
}
.btn-primary {
  margin-bottom: 2%;
  margin-top: 5%;
  width: 50%;
}
#one {
  background-color: #22223b;
  border-color: #22223b;
}
#two {
  background-color: #4a4e69;
  border-color: #4a4e69;
}
#three {
  background-color: #9a8c98;
  border-color: #9a8c98;
}
#four {
  background-color: #c9ada7;
  border-color: #c9ada7;
}
#five {
  background-color: #d4c2b7;
  border-color: #d4c2b7;
  color: #fff;
}
.item button {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
  overflow: visible;
}














