<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> <!--pure CSS -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> <!--Font Awesome Icons -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/styles/style.css" type="text/css" />
<link rel="stylesheet" href="/styles/list.css" type="text/css" />
  </head>

  <body class ="listBack">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#"><img src="/styles/img/logo.png" alt="logo" class="img-thumbnail"></a> -->
          <a class="navbar-brand" href="/">HOME</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile">PROFILE</a></li>
            <li class="nav-item">
              <a class="btn mr-2 btn-light" id="buy-button" href="/login">LOGOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

            <div class="jumbotron">
              <img src="/images/logo.png" class="img-responsive">
              <form action="/userInput" method="POST">
                <div class="input-group row align-items-center">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-10">
                    <input type="text" id="city" name="userData" class="form-control" placeholder="ENTER TASK HERE">
                    <button class="btn btn-lg btn-default" type="submit">ADD TO LIST</button>
                  </div>
                  <div class="col-sm-1"></div>
                </div>
               </div>
            </form>
          </div>

          <div class="container-fluid text-center">
            <div class="row">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-6">
                <h1>Tasks To Complete</h1>

                <button type="button" id="one" class="btn btn-primary btn-lg">MOVIES 2 WATCH</button>

                <div class="movies"></div>
                <button type="button" id="two" class="btn btn-primary btn-lg">THINGS 2 BUY</button>

                <div class="products"></div>
                <button type="button" id="three" class="btn btn-primary btn-lg">FOOD 2 EAT</button>

                <div class="food"></div>
                <button type="button" id="four" class="btn btn-primary btn-lg">BOOKS 2 READ</button>

                <div class="books"></div>
                <button type="button" id="five" class="btn btn-primary btn-lg">OTHER</button>
                <div class="other"></div>


                <!-- <h2 class="movies"> Movies to watch</h2>
                <h2 class="products"> Things to buy</h2>
                <h2 class="food"> Food to taste</h2>
                <h2 class="books"> Books to read</h2>
                <h2 class="other"> OTHER</h2> -->
              </div>
              <div class="col-sm-2">
            </div>
          </div>
        </div>



    <footer>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <p><span><i class="fas fa-map-marker-alt"></i></span>Montreal, QC</p>
            </div>
            <div class="col-sm-4">
              <p><span><i class="fas fa-mobile-alt"></i></span>+1 888 123 555</p>
            </div>
            <div class="col-sm-4">
              <p><span><i class="far fa-envelope"></i></span>hello@tdlist.com</p>
            </div>
          </div>
        </div>
      </footer>
  </div>

  </body>
</html>
