<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> <!--pure CSS -->
    <link rel=“stylesheet” href=“https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css” integrity=“sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u” crossorigin=“anonymous”>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
     <script src=“https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js” integrity=“sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa” crossorigin=“anonymous”></script>
     <link rel="stylesheet" href="/styles/style.css" type="text/css" />
     <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>
  <body class="bg">
    <!-- when user clicks button, populates the login form -->
    <div class="loginbox">
      <img src="/images/logo.png" class="logo1">
      <form action="/login" method="POST" class="pure-form">
        <fieldset>
          <div class="loginform">
            <input type="text" class="pure-input-rounded" name="email" placeholder="Email" />
            <input class="pure-input-rounded" type="password" name="password" placeholder ="Password" />
          </div>
          <div class="fuckitall">
            <div class="buttonpanda">
            <button class="logregbutton" type="submit">LOGIN</button>
            </div>
          </fieldset>
            <div id="panda">
              <p class="noaccount"> Don't have an account? </p>
              <div class="fuckyou">
                <button id="showregister" type="submit">SIGN UP</button>
              </div>
            </div>

        <!-- <button id="showregister"> Sign Up </button> -->
        <script>
        $("#showregister").click(function() {
          $(".loginbox").replaceWith($(".registerbox"));
          $(".loginbox").css('visibility', 'visible');
          $(".registerbox").css('visibility', 'visible');
        });
        </script>
      </div>
      </form>
    </div>
    <!-- when user clicks button, populates a register form -->
    <div class="registerbox">
      <img src="/images/logo.png" class="logo2">
      <form action="/register" method="POST" class="pure-form">
        <fieldset>
          <input type="text" class="pure-input-rounded" name="email" placeholder="Email" />
          <input class="pure-input-rounded" type="password" name="password" placeholder ="Password" />
          <div class="buttonpanda">
          <button class="logregbutton" type="submit">Sign Up</button>
        </fieldset>
         <div id="panda">
        <p class="noaccount"> Already have an account?</p>
        <div class="buttonpanda">
          <a href="/login"><button id="showlogin" type="submit">LOGIN</button></a>

        </div>
        <!-- <button id="showregister"> Sign Up </button> -->
      </div>
      </form>
    </div>
    </body>
</html>



























