<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> <!--pure CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> <!--Font Awesome Icons -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#"><img src="/styles/img/logo.png" alt="logo" class="img-thumbnail"></a> -->
          <a class="navbar-brand" href="/">HOME</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href ="/mylist">TO-DO LIST</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="#contact">CONTACT US</a></li>
            <li class="nav-item">
              <a class="btn mr-2 btn-light" id="buy-button" href="/login">LOGOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="overlay"></div>
      <div class="myprofilebox">
        <form class="pure-form" method="POST" action="/profile/<%= id %>">
          <fieldset>
            <input type="text" class="pure-input-rounded" name="email" placeholder="Email" />
            <input class="pure-input-rounded" type="password" name="password" placeholder ="Password" />
            <button class="updelbutton">Update Account</button>
          </fieldset>
        </form>
        <form method="POST" action="/profile/<%= id %>/delete">
          <button class="updelbutton">Delete Account</button>
        </form>
      </div>
  </body>
</html>
