body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    z-index: -10;
}


#overlay {
    position: absolute;
    z-index: -5;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;

}

.myprofilebox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    height: 380px;
    color: #000;
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%,  -50%);
    box-sizing: border-box;
    border-radius: 3%;
    box-shadow: 8px 8px 50px #000;
}

.myprofilebox input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.myprofilebox input[type="text"], input[type="password"]{

    border: 1px solid black;
    border-bottom: 1px solid #bdc3c7;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    opacity: 1;
    color: black;
}

.myprofilebox input[type="text"]:hover, input[type="password"]:hover {
  background: #edf3ff;
}
.myprofilebox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}

.updelbutton {
  margin-top: 15px;
  margin-left: 55px;
  outline: none;
  height: 40px;
  width: 160px;
  background: #2ecc71;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 80px;
  font-family: 'Open Sans', sans-serif;
}
.updelbutton:hover {
  cursor: pointer;
  background: #1A4674;
  color: #fff;
}
.loginbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  height: 400px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  transform: translate(-50%, -50%);
  position: absolute;
  box-sizing: border-box;
  border-radius: 3%;
  box-shadow: 8px 8px 50px #000;
  visibility: visible;
}

.loginbox input{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
  border: 1px solid black;
  border-bottom: 1px solid #bdc3c7;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
  opacity: 1;
  color: black;
}

.loginbox input[type="text"]:hover, input[type="password"]:hover {
  background: #edf3ff;
}

.registerbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  height: 400px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%,  -50%);
  box-sizing: border-box;
  border-radius: 3%;
  box-shadow: 8px 8px 50px #000;
  visibility: hidden;
}


.newregisterbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  height: 400px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%,  -50%);
  box-sizing: border-box;
  border-radius: 3%;
  box-shadow: 8px 8px 50px #000;
  visibility: visible;
}

.registerbox input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.registerbox input[type="text"], input[type="password"]{

    border: 1px solid black;
    border-bottom: 1px solid #bdc3c7;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    opacity: 1;
    color: black;
}

.registerbox input[type="text"]:hover, input[type="password"]:hover {
  background: #edf3ff;
}

.logregbutton {

  margin-top: 112px;
  margin-left: 65px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  height: 40px;
  width: 120px;
  background: #2ecc71;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 80px;
  font-family: 'Open Sans', sans-serif;
}

.logregbutton:hover {
      cursor: pointer;
      background: #1A4674;
      color: #fff;
}
#panda {
  display: flex;
  justify-content: center;
  flex-direction: row;


}
.noaccount {
   margin: auto;
      font-size: 15px;
      color: #676d77;
      opacity: 0.5;
       margin-right: 10px;
}
#showregister {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;

      font-size: 18px;
      text-decoration: none;
      color: #aac4f7;
      // opacity: 0.8;
}

#showregister:hover {
    text-decoration: underline;
    font-weight: bold;
}
